@import "tailwindcss";
@import "./loader.css";

@theme {
  --color-primary: oklch(0.4 0.9 200);
  --color-secondary: oklch(0.35 0.9 200);

  --color-background-dark: oklch(0% 0 0);
  --color-background: oklch(15.5% 0 0);
  --color-background-light: oklch(20% 0 0);

  --color-text: oklch(90% 0 0);
  --color-text-muted: oklch(70% 0 0);

  --font-primary: var(--font-deezer);
  --font-secondary: var(--font-inter);
}

@layer components {
  .artist-section-title {
    @apply text-3xl font-primary flex items-center gap-2 px-3 text-neutral-200 font-medium mb-4;
  }
}

.styled-scrollbar {
  --sb-track-color: #232e33;
  --sb-thumb-color: #0d6ee4;
  --sb-size: 11px;
}

.styled-scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  border: 2px solid #232e33;
}

@supports not selector(::-webkit-scrollbar) {
  .styled-scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
